$color-copy-main: #767676;
$color-white:#fff;
$color-grey-light:#f4f4f4;
$color-grey:#eff4f5;
$color-grey-dark: #98a6a9;
$color-blue:#2898da;
$color-blue-light:#d5e8f0;
$color-blue-dark: #2289c6;
$color-green: #2ecc71;
$color-green-dark: #2bc06a;
$color-red: red;
$color-shadow:rgba(96, 98, 100, 0.4);

$avatarSize: 9rem;
