@import url(https://fonts.googleapis.com/css?family=Ubuntu%3A400%2C500&subset=latin%2Clatin-ext);html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
main,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  outline: 0;
}

html,
body {
  min-height: 100%;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

article,
aside,
details,
figcaption,
figure,
main,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul li {
  list-style: none;
}

ol {
  list-style-position: inside;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  background: transparent;
  font-size: 100%;
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover,
a:focus,
a:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  font-style: italic;
  font-weight: bold;
  color: #000;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: 0;
}

label,
button,
select,
input[type=submit] {
  cursor: pointer;
}

input,
select {
  vertical-align: middle;
  -webkit-appearance: none;
  outline: 0;
}

input,
select,
textarea,
button {
  margin: 0;
  font: inherit;
  color: inherit;
  border: none;
  outline: 0;
}

select {
  border-radius: 0;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type=submit] {
  outline: 0 !important;
}

*,
*:before,
*:after,
* * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
}

html {
  font-size: calc(7px + 0.5vw);
}

body {
  font-family: Ubuntu, sans-serif;
  font-size: 1rem;
  line-height: 2.3rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #767676;
}

.container {
  width: 100%;
  max-width: 1095px;
  margin: 0 auto;
  position: relative;
}

h1,
.asH1 {
  font-size: 2.8rem;
  line-height: 3.2rem;
}

h2,
.asH2 {
  font-size: 2rem;
  line-height: 3rem;
}

img {
  max-width: 100%;
}

.blueBg {
  background: #2898da;
}

.fullWidth {
  width: 100%;
}

.halfWidth {
  width: 50%;
}

.mt40 {
  margin-top: 40px;
}

.mb0 {
  margin-bottom: 0 !important;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.hidden {
  display: none;
}

.logo {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.logo .logoImg {
  width: 150px;
  height: 30px;
  background: url(/images/logo-grey.svg?ac75a620de0f3b7f9f2e052a92c22ee0) no-repeat left center/contain;
}

.logo .logoText {
  margin-left: 1rem;
}

.logo.headerLogo .logoImg {
  width: 160px;
  height: 33px;
  background-image: url(/images/logo.svg?12aaadb14e38c8caef2494cb60d017ae);
}

.logo.headerLogo .logoText {
  color: #fff;
}

.button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  padding: 0 2rem;
  color: #2898da;
  background-color: #fff;
  border: 1px solid #2898da;
  text-transform: uppercase;
  text-align: center;
  border-radius: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.button:hover {
  color: #fff;
  background-color: #2898da;
}

.button.fileButton {
  height: 2rem;
  line-height: 2rem;
}

.button.fileButton input {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.button.greenButton {
  background-color: #2ecc71;
  border-color: #2ecc71;
  color: #fff !important;
}

.button.greenButton:hover {
  background-color: #2bc06a;
  border-color: #2bc06a;
}

.button.greenButton:disabled {
  opacity: 0.6;
  cursor: default;
  background-color: #2ecc71 !important;
}

.actionButton {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  width: 3rem;
  height: 3rem;
  background: #98a6a9;
  color: #fff;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 500;
}

.actionButton:disabled {
  opacity: 0.6;
  cursor: default;
}

.actionButton.invisible {
  opacity: 0;
  cursor: default;
}

.croppie {
  width: 100%;
}

.croppie .cr-boundary {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  z-index: 1;
}

.croppie .cr-boundary .cr-image {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  max-width: none;
}

.croppie .cr-boundary .cr-viewport {
  position: absolute;
  border: 2px solid #fff;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 0 899px rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.croppie .cr-boundary .cr-vp-circle {
  border-radius: 50%;
}

.croppie .cr-boundary .cr-overlay {
  z-index: 1;
  position: absolute;
  cursor: move;
}

.croppie .cr-slider-wrap {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
}

.croppie .cr-slider-wrap .cr-slider {
  -webkit-appearance: none;
  width: 90%;
  max-width: 100%;
  height: 4px;
  background: #8a8a8a;
}

.successMsg {
  color: #2ecc71;
}

.col.col-1-of-12 {
  width: 7.3333333333% !important;
}

.col.col-2-of-12 {
  width: 15.6666666667% !important;
}

.col.col-3-of-12 {
  width: 24% !important;
}

.col.col-4-of-12 {
  width: 32.3333333333% !important;
}

.col.col-6-of-12 {
  width: 49% !important;
}

.col.col-8-of-12 {
  width: 65.6666666667% !important;
}

.col.col-12-of-12 {
  width: 99% !important;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.row:after {
  content: "";
  display: block;
}

.rating {
  position: relative;
  width: 100px;
  height: 20px;
  background: url(/images/stars.png?6b61e57e33adeae281930acdb29ff54b) 0 0px;
}

.rating .filling {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: url(/images/stars.png?6b61e57e33adeae281930acdb29ff54b) 0 20px;
}

.ratingForm {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.ratingForm li {
  cursor: pointer;
  margin: 0 0.2rem;
}

.ratingForm li.hover,
.ratingForm li.selected {
  color: #2898da;
}

.avatar {
  position: relative;
  width: 9rem;
  height: 9rem;
  z-index: 1;
  overflow: hidden;
  border: 7px solid #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px rgba(96, 98, 100, 0.4);
  background-color: #2898da;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.avatar.empty {
  background-size: 35px;
  background-image: url(/images/camera.svg?443ad8c552145d0f663fcd448079c5d1);
}

.avatar.sm {
  width: 6.3rem;
  height: 6.3rem;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 35px 0;
  z-index: 2;
}

header.sticky {
  background: #33aade;
  box-shadow: 1px 3px 5px #377fa0;
}

header .headerContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  background: transparent;
}

header .menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

header .menu ul li {
  margin: 0 0.2rem;
}

header .menu ul li a {
  padding: 8px 20px;
  color: #fff;
  border-radius: 18px;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

header .menu ul li a:hover {
  background-color: #2289c6;
}

header .menu ul li a.active {
  background-color: #fff;
  color: #2898da;
}

.hero {
  width: 100%;
  height: 300px;
  padding: 90px 0 20px;
  background-image: url(/images/bg-watermark-3.png?7039a55ae5ef9d3fd8767f40341af030);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: 80% auto;
  color: #fff;
}

.hero .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  height: 100%;
}

.hero .heroContent {
  text-align: center;
}

.hero .heroContent .heroTitle {
  margin-bottom: 1rem;
}

.hero.slider {
  background-image: url(/images/hero-watermark.png?a680f488aae72ea42eee4e701cd6a94d);
  background-repeat: no-repeat;
  height: 450px;
}

.hero.slider .container {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}

.hero.slider .heroContent {
  width: 60%;
  text-align: left;
}

.form {
  counter-reset: section;
  padding: 50px 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(96, 98, 100, 0.4);
}

.form .formSection {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eff4f5;
}

.form .formSection:before {
  counter-increment: section;
  content: counter(section);
  position: absolute;
  left: -55px;
  top: -10px;
  height: 60px;
  width: 60px;
  font-size: 1.1rem;
  line-height: 45px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  background: #2898da;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: -3px 0px 0px 0px rgba(21, 92, 134, 0.5);
}

.form .formSection .formSectionHeader {
  margin: 0.5rem 0 2rem 1rem;
}

.form .formSection .formSectionHeader .title {
  color: #2898da;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.form .formSection .formSectionContent {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  float: left;
  width: 100%;
  padding: 20px;
  background: #eff4f5;
  border-radius: 3px;
}

.form .formSection .formSectionContent:after {
  content: "";
}

.form .formSection .formSectionContent.checkboxes {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.form .formSection .formSectionContent.checkboxes .checkboxRow {
  margin: 0.5rem 0;
}

.form .formRow {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}

.form .formRow.asTableRow {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.form .formRow .formRowTitle {
  width: 100%;
  float: left;
  margin-bottom: 5px;
  color: #2898da;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.3rem;
}

.form .formRow input:not([type=submit]),
.form .formRow textarea,
.form .formRow select {
  width: 100%;
  height: 3rem;
  padding-left: 10px;
  background-color: #fff;
  border: 3px solid #d5e8f0;
}

.form .formRow input:not([type=submit]):disabled,
.form .formRow textarea:disabled,
.form .formRow select:disabled {
  opacity: 0.6;
  background-color: #f4f4f4;
}

.form .formRow input:not([type=submit]).withPreValue,
.form .formRow textarea.withPreValue,
.form .formRow select.withPreValue {
  padding-left: 3.5rem;
}

.form .formRow input:not([type=submit]).error,
.form .formRow textarea.error,
.form .formRow select.error {
  border-color: red;
}

.form .formRow input:not([type=submit])::-webkit-input-placeholder,
.form .formRow textarea::-webkit-input-placeholder,
.form .formRow select::-webkit-input-placeholder {
  color: #d5e8f0;
  font-style: italic;
}

.form .formRow input:not([type=submit])::-ms-input-placeholder,
.form .formRow textarea::-ms-input-placeholder,
.form .formRow select::-ms-input-placeholder {
  color: #d5e8f0;
  font-style: italic;
}

.form .formRow input:not([type=submit])::placeholder,
.form .formRow textarea::placeholder,
.form .formRow select::placeholder {
  color: #d5e8f0;
  font-style: italic;
}

.form .formRow select {
  background-image: url(/images/arrow.png?6bac2e9499509a7fdea6e3e0266a9b8d);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 11px;
}

.form .formRow textarea {
  height: 8rem;
}

.form .formRow label.error {
  color: red;
}

.form .formRow .preValue {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  left: 1rem;
  top: calc(2.3rem + 5px);
  height: 3rem;
  color: #2898da;
}

.form .formRow .preValue.after {
  left: auto;
  right: 1rem;
}

.form .formRow .customOptions {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 3px solid #d5e8f0;
  border-top: 0;
  z-index: 1;
}

.form .formRow .customOptions li {
  cursor: pointer;
  padding: 0 10px;
}

.form .formRow .customOptions li:hover,
.form .formRow .customOptions li.highlighted {
  background: #d5e8f0;
}

.form .radioRow,
.form .checkboxRow {
  width: auto;
}

.form .radioRow label,
.form .checkboxRow label {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  height: 3rem;
  line-height: 3rem;
  margin-right: 1rem;
  padding: 0 1.5rem;
  border: 2px solid #d5e8f0;
  color: #7fc2e9;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.form .radioRow label:hover,
.form .checkboxRow label:hover {
  color: #2898da;
  border: 2px solid #2898da;
}

.form .radioRow input,
.form .checkboxRow input {
  display: none;
  text-transform: capitalize;
}

.form .radioRow input:checked + label,
.form .checkboxRow input:checked + label {
  background: #2898da;
  background-image: url(/images/check.svg?c1e2075c36d9100370dcac8b862a56eb);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 25px;
  color: #fff;
  border: 2px solid #2898da;
  padding: 5px 30px 5px 20px;
}

.form .singleCheckbox label {
  padding-left: 35px;
  cursor: pointer;
  color: #2898da;
}

.form .singleCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  border: none;
  margin: 0;
}

.form .singleCheckbox .checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eff4f5;
}

.form .singleCheckbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 2px;
  width: 8px;
  height: 15px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.form .singleCheckbox input:checked ~ .checkmark {
  background-color: #2898da;
}

.form .singleCheckbox input:checked ~ .checkmark:after {
  display: block;
}

.form .photos:after {
  width: 156px;
}

.form .photoInput {
  position: relative;
  width: 156px;
  height: 156px;
  margin: 0.5rem 0;
  background: #2898da url(/images/camera.svg?443ad8c552145d0f663fcd448079c5d1) no-repeat center center/cover;
  border-radius: 4px;
  cursor: pointer;
}

.form .photoInput:hover {
  background-color: #2289c6;
}

.form .photoInput.empty {
  background-size: 35px;
  background-image: url(/images/camera.svg?443ad8c552145d0f663fcd448079c5d1) !important;
}

.form .photoInput.empty .closeButton {
  display: none;
}

.form .photoInput input {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.form .photoInput .closeButton {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 2;
  color: #fff;
  line-height: initial;
}

.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-top: 1.5rem;
}

.pagination .page-item {
  margin: 0 0.1rem;
}

.pagination .page-item.disabled {
  display: none;
}

.pagination .page-item .page-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #eff4f5;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.pagination .page-item .page-link:hover {
  background: #f4f4f4;
}

.pagination .page-item.active .page-link {
  color: #2898da;
  border-color: #2898da;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
}

.modal.open {
  display: block;
}

.modal .modalInner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  top: 50px;
  width: 500px;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  padding: 1.5rem;
  box-shadow: 2px 2px 2px 2px rgba(96, 98, 100, 0.4);
}

.modal .modalRow {
  margin: 1rem 0;
}

.modal .close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

.modal h2 {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.modal .avatarsList {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  width: 100%;
}

.modal .avatarsList li {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  width: 6.5rem;
  height: 6.5rem;
  border: 3px solid #fff;
  box-shadow: 0px 1px 2px 0px rgba(96, 98, 100, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

footer {
  padding: 25px;
  background: #f4f4f4;
}

footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  text-align: right;
}

.doctorCard {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 1rem;
  border: 1px solid #eff4f5;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.doctorCard .info {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  padding-left: 1.5rem;
}

.doctorCard .info h2 {
  color: #2898da;
  font-size: 1.3rem;
  line-height: 2rem;
}

.doctorCard .info p {
  margin-top: 0.5rem;
  line-height: 1.8rem;
}

.doctorCard .info .rating {
  margin-top: 0.5rem;
}

.doctorCard:hover {
  background: #f4f4f4;
}

.addDoctor {
  background: #2898da;
}

.addDoctor .mainContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  padding-bottom: 7rem;
}

.addDoctor .mainContainer .form {
  width: 80%;
}

.addDoctor .mainContainer .form .doctorDescription {
  float: left;
  width: 100%;
}

.addDoctor .mainContainer .form .doctorDescription .formRow {
  float: right;
  width: calc(95% - 9rem);
}

.addDoctor .mainContainer .form .doctorDescription .formRow.avatarRow {
  float: left;
  width: 9rem;
}

.addDoctor .mainContainer .watermark {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background: url(/images/bg-watermark.png?4b40b0eceb941f09bb99795643d9be1e) no-repeat center bottom;
  z-index: -1;
}

.doctors .mainContainer {
  padding: 3rem 0;
}

.doctors .row:after {
  width: 32.33333%;
}

.doctor #map {
  width: 500px;
  height: 500px;
}

.doctor .form {
  padding: 0.5rem 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.doctor .score {
  padding: 1rem 0;
  border-bottom: 1px solid #eff4f5;
}

.doctor .score .rating,
.doctor .score .date {
  margin-bottom: 0.5rem;
}

